<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome {{ this_user.first_name }} {{ this_user.last_name }}!</h2>
    <h3>These are the recipes</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Under 30 Minutes?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in all_recipes %}
                <tr>
                    <td>{{ recipe.name }}</td>
                    {% if recipe.under_30_minutes == "Y" %}
                    <td>Yes</td>
                    {% else %}
                    <td>No</td>
                    {%endif%}
                    <td>
                        <a href="/recipes/show/{{ recipe.id }}">View Instructions</a> 
                        {% if recipe.user_id == session['user_id'] %}
                        <a href="/recipes/edit/{{ recipe.id }}">Edit</a> 
                        <a href="/recipes/destroy/{{ recipe.id }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href='/recipes/create'>
        <button>Create</button>
    </a>
    <a href="/users/logout">
        <button>Logout</button>
    </a>
</body>
</html>